
@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* CSS Variables */
:root {

   --color1: #021e31;
  --color2: #a31f70;
  --color3: #fd6d13;
  --color4: #26CF12;
  --color5: #3878a3;
  --color6: #b391da;
  --primaryfont: "Rubik", sans-serif;


    /* main UI color */
    --plyr-color-main:var(--color4);
    /* audio controls background */
    --plyr-audio-controls-background: var(--color2);
    /* audio controls color */
    --plyr-audio-control-color: white;
    /* font family for player */
    --plyr-font-family: sans-serif;
    /* font size of player  */
    --plyr-font-size-time: 16px;

    /* Other optional customiziations */
    --plyr-audio-control-color-hover:  black;
    --plyr-audio-progress-buffered-background:  black;
    --plyr-audio-range-track-background: white;
    --plyr-tooltip-background: white;
    --plyr-tooltip-color: black; 
    --plyr-control-icon-size: 16px;
}

body {
    font-family: "Rajdhani", sans-serif;
    background: #8A2387;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1, h2 {

    font-family: "Joti One", serif;
    text-align: center;
    font-size: 2.5rem;
}

h1 {
   
    color: var(--color2)
    
}

h2 {
    color: var(--color5)
}



/* Layout */
main {
    /* Fixed width center align */
    max-width: 80em;
    margin-inline: auto;

    background: rgba(255, 189, 148, 0.822);
    padding: 2em;
}

main img {
    /* Fit image to container */
    max-width: 100%;
    display: block;
    margin-left: auto;  
    margin-right: auto;
    
}

/* Primary Content */
article {
    /* flow content horizontally */
    display: flex;
    gap: 2em;
    justify-content: center;

    font-size: 1.5rem;
    color: var(--color1)
}



article section {
    /* keep flex'd child same width */
    flex: 1;
}

/* Footer */
footer {
    text-align: center;
}

footer a:link,
footer a:visited {

    color: var(--color2)
   
}

foot a: hover;


/* Media Queries */
@media (max-width: 40em) {
    main article {
        flex-direction: column;
    }
}

main article section {

    text-align: justify;
}